body {
    -webkit-print-color-adjust: exact;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

.header {
    padding-right: 1em;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1em;
    width: 100%
}

.header #year {
    text-align: right;
    padding-right: 1em;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right
}

.header #title {
    text-align: left;
    padding-left: 1em;
    padding-top: 0.5em;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
}

#calendar {
    display: table-cell;
    vertical-align: top
}

#legend {
    width: 20%;
    display: table-cell;
    font-size: 80%;
}

#legend > div {
    display: table
}

#legend > div > div {
    display: table-row
}

#legend > div > div > div {
    display: table-cell
}

#content {
    display: table
}

#contentrow {
    display: table-row
}

legend > div > div > .t1,
legend > div > div > .t2,
legend > div > div > .t3,
legend > div > div > .t4,
legend > div > div > .t5,
legend > div > div > .t6,
legend > div > div > .t7
 {
    min-width: 1.5em;
    min-height: 1.5em;
    padding: 10px;
    margin: 1em
}

.top {
    height: 1.5em;
    vertical-align: middle;
    padding: 0.5em;
}

div.fullmonth {
    border: 1px solid black;
    width: auto;
    display: inline-block;
    margin: 0.2em
}

div.month {
    display: table;
}

div.fullmonth > div.label {
    display: block;
    font-weight: normal;
    color: green;
    padding: 0.1em;
    padding-left: 1em;
    font-weight: bold
}

div.month > div > div {
    display: table-cell;
    padding: 0.1em;
    width: 1.5em;
    height: 1.5em
}

div.month > div > div.blank {
    background-color: white
}

div.month > div > div.t1,
div.month > div > div.t2,
div.month > div > div.t3,
div.month > div > div.t4,
div.month > div > div.t5,
div.month > div > div.t6,
div.month > div > div.t7,
div.month > div > div.blank
{
    text-align: right;
    vertical-align: middle;
    font-size: 90%;
    height: 1em;
    max-height: 1em;
    font-family: 'Courier New', Courier, monospace
}

div.month > div {
    display: table-row
}

div.month div.weekdays div {
    color: green;
    font-size: 70%;
    font-family: Arial, Helvetica, sans-serif;
    width: 1.5em;
    height: 1.5em;
    text-align: center
}

.t3 {
    background-color: red;
    color: black
}

.t6 {
    background-color: green;
    color: black
}

.t7 {
    background-color: darkblue;
    color: white
}

.t4 {
    background-color: deeppink;
    color: black
}

.t5 {
    background-color: cadetblue;
    color: black
}

.t2 {
    background-color: orange;
    color: black
}

.t1 {
    background-color: lightgreen;
    color: black
}